body {
  font:700 14px PTSans;
  line-height: 24px;
  color: #000000;
}

h1 {
  font: 700 12.76px PTSans;
  line-height: 17.86px;
  color: #000000;
}

h2 {
  font: 700 10.21px PTSans;
  line-height: 12.757px;
  color: #000000;
}
